@media (max-width: 1440px) {

    /*1440x900*/
    .parallax-layer {
        height: 70vh;
    }

    .parallax .layer2 {
        top: 30vh;
        scale: 2.9;
    }

    .parallax .layer3 h2 {
        margin-top: 25vh;
    }

    .parallax .layer4 {
        top: 30vh;
        scale: 4;
    }
}

@media (max-width: 1024px) {
    .parallax-layer {
        height: 50vh;
    }

    .parallax .layer2 {
        top: 60vh;
        scale: 4;
    }

    .parallax .layer3 h2 {
        margin-top: 15vh;
    }

    .parallax .layer4 {
        top: 50vh;
        scale: 5;
    }
}

/*mobile*/
@media (max-width: 800px) {

    #open-nav-btn,
    #close-nav-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 16px;
    }

    #close-nav-btn {
        display: none;
    }

    #open-nav-btn {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        padding: 26px;
        font-size: 2.8vh;
    }

    nav ul li {
        padding: 3px;
    }

    .parallax-layer {
        height: 20vh;
    }

    .parallax .layer1 img {
        height: 100vh;
    }

    .parallax .layer2 {
        top: 40vh;
        scale: 4.5;
    }

    .parallax .layer3 h2 {
        margin-top: 60vh;
    }

    .parallax .layer4 {
        top: 50vh;
        scale: 5.5;
    }

    header #logo {
        width: 20%;
    }

    section p {
        padding: 10px 0;
    }

    section .container {
        width: 100%;
    }

    .bg-image {
        height: 40vh;
        border-radius: 5px;
    }

    html {
        scroll-padding-top: 200px;
    }

    footer .container {
        flex-direction: column;
        width: auto;
    }

    footer ul {
        text-align: center;
    }

    footer ul li {
        padding: 6px;
    }

    footer img {
        width: 100%;
    }
}

@media (max-width: 500px) {

    header #logo {
        width: 35%;
    }

    .parallax-layer {
        height: 6vh;
    }

    .parallax .layer2 {
        top: 10vh;
        scale: 8;
    }

    .parallax .layer3 h2 {
        margin-top: 50vh;
    }

    .parallax .layer4 {
        top: 30vh;
        scale: 11;
    }
}

@media (max-width: 380px) {
    .parallax-layer {
        height: 4vh;
    }

    .parallax .layer2 {
        top: 10vh;
        scale: 9;
    }

    .parallax .layer3 h2 {
        margin-top: 50vh;
    }

    .parallax .layer4 {
        top: 40vh;
        scale: 12;
    }
}

@media (max-width: 320px) {
    .parallax-layer {
        height: 2vh;
    }

    .parallax .layer2 {
        top: 11vh;
        scale: 11;
    }

    .parallax .layer3 {
        font-size: 4vh;
    }

    .parallax .layer4 {
        top: 40vh;
        scale: 13;
    }
}